<head>
  <style>
      .backgrounds{background-color:#fff;color:#a41d35}
  </style>
</head>
<section class="oe_container">
 <div class="oe_row oe_spaced">
  <h2 class="oe_slogan">
Account Parent / Children Tree Structure
  </h2>
  <p class="oe_mt32">
Account Parent / Children Tree Structure
  </p>
  <p>
This module adds some customization to Accounts Catalog and Analytics Accounts Catalog.

Also, adds Extended Chart of Accounts for Monthly Balance to analyze accounts. This is also for Analytics Accounts.

Added Parent Account field to be able to make Tree Account structure. This is required for Mexican legislation, 
      it's not only for reporting purposes.
<br />
<img class="img img-responsive shadow mb16" src="Account_parent.png">Parent Account</img>      
<br />
This goes for Analytic Accounts too.
<br />
<img class="img img-responsive shadow mb16" src="Analytic_parent.png">Parent Analytic Account</img>      
<br />
We can get Extended Chart of Accounts
<img class="img img-responsive shadow mb16" src="Account_chart.png">Extended Chart of Accounts</img>
<br />
<br />
We can get Extended Chart of Analytics Accounts
<img class="img img-responsive shadow mb16" src="Analytic_chart.png">Extended Chart of Accounts</img>
<br />
<br />
This module is required for other modules.
<br />
<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;" />
  </p>
 </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_slogan">PonceSoft</h2>
            <h3 class="oe_slogan">Soluciones Simples.</h3>
            <p class="oe_mt32 text-center">Contact us via our channels</p>
            <div class="oe_spaced">
                <ul class="text-center list-inline">
                    <li>
                        <a href="https://facebook.com/" Target="_blank"><i class="fa fa-facebook-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" Target="_blank" ><i class="fa fa-twitter-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a title="Contact us" data-toggle="tooltip" data-placement="left" Target="_blank" href="http://poncesoft.blogspot.com"><i class="fa fa-envelope-square fa-xs backgrounds"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://poncesoft.blogspot.com"  target="_blank"r>

                </a>
            </div>
        </div>
    </div>
</section>
