<?xml version="1.0" encoding="UTF-8"?>
<cfdi:Comprobante xmlns:cfdi="http://www.sat.gob.mx/cfd/3"
{% if data['Atributos']['serie'] %} Serie="{{ data['Atributos']['serie'] }}"{% endif %}
{% if data['Atributos']['folio'] %} Folio="{{ data['Atributos']['folio'] }}"{% endif %}
Fecha="{{ data['Atributos']['fecha_cfdi'] }}"
Sello=""
NoCertificado="{{ data['Atributos']['noCertificado'] }}"
Certificado="{{ data['Atributos']['certificado'] }}"{% if data['Atributos']['condicionesDePago'] %} CondicionesDePago="{{ data['Atributos']['condicionesDePago'] }}"{% endif %}
SubTotal="{{ data['Atributos']['subTotal'] }}"
{% if data['Atributos']['Moneda'] %} Moneda="{{ data['Atributos']['Moneda'] }}"{% endif %}
Total="{{ data['Atributos']['total'] }}" TipoDeComprobante="{{ data['Atributos']['tipoDeComprobante'] }}"
LugarExpedicion="{{ data['Atributos']['LugarExpedicion'] }}"
Version="3.3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.sat.gob.mx/cfd/3 http://www.sat.gob.mx/sitio_internet/cfd/3/cfdv33.xsd">
<cfdi:Emisor Rfc="{{ data['Emisor']['rfc'].replace('&','&amp;') }}"{% if data['Emisor']['nombre'] %} Nombre="{{ data['Emisor']['nombre'].replace('&','&amp;') }}" {% endif %} {% if data['Emisor']['regimenFiscal'] %} RegimenFiscal="{{ data['Emisor']['regimenFiscal'] }}" {% endif %}></cfdi:Emisor>
<cfdi:Receptor Rfc="{{ data['Receptor']['rfc'].replace('&','&amp;') }}"{% if data['Receptor']['nombre'] %} Nombre="{{ data['Receptor']['nombre'].replace('&','&amp;') }}"{% endif %} UsoCFDI="{{ data['Receptor']['UsoCFDI'] }}" ></cfdi:Receptor>
<cfdi:Conceptos>{% for concepto in data['Conceptos'] %}<cfdi:Concepto Cantidad="{{ concepto['cantidad'] }}" {% if concepto['descripcion'] %} Descripcion="{{ concepto['descripcion'] }}"{% endif %} ValorUnitario="{{ concepto['valorUnitario'] }}" Importe="{{ concepto['importe'] }}" ClaveProdServ="{{ concepto['ClaveProdServ'] }}" ClaveUnidad="{{ concepto['ClaveUnidad'] }}"></cfdi:Concepto>{% endfor %}</cfdi:Conceptos
>{% if data['Impuestos'] %}<cfdi:Impuestos{% if data['Impuestos']['totalImpuestosTrasladados'] %} TotalImpuestosTrasladados="{{ data['Impuestos']['totalImpuestosTrasladados'] }}"{% endif %}{% if data['Impuestos']['totalImpuestosRetenidos'] %} TotalImpuestosRetenidos="{{ data['Impuestos']['totalImpuestosRetenidos'] }}"{% endif %}>{%if data['Impuestos']['Retenciones'] %}<cfdi:Retenciones>{%for retencion in data['Impuestos']['Retenciones'] %}<cfdi:Retencion Impuesto="{{ retencion['impuesto'] }}" Importe="{{ retencion['importe'] }}"/>{% endfor %}</cfdi:Retenciones>{% endif %}{%if data['Impuestos']['Traslados'] %}<cfdi:Traslados>{%for traslado in data['Impuestos']['Traslados'] %}<cfdi:Traslado Impuesto="{{ traslado['impuesto'] }}" TipoFactor="{{ traslado['tipofactor'] }}" TasaOCuota="{{ traslado['tasaocuota'] }}" Importe="{{ traslado['importe'] }}"/>{% endfor %}</cfdi:Traslados>{% endif %}</cfdi:Impuestos>{% endif %}
<cfdi:Complemento>
    <pago10:Pagos xmlns:pago10="http://www.sat.gob.mx/Pagos" Version="1.0" xsi:schemaLocation="http://www.sat.gob.mx/Pagos http://www.sat.gob.mx/sitio_internet/cfd/Pagos/Pagos10.xsd">
      <pago10:Pago FechaPago="{{ data['Atributos']['fecha'] }}" FormaDePagoP="{{ data['Atributos']['formaDePago'] }}"
          MonedaP="{{ data['Atributos']['MonedaP'] }}"
          {% if data['Atributos']['MonedaP'] != 'MXN' %} TipoCambioP="{{ data['Atributos']['TipoCambioP'] }}" {% endif %}
          Monto="{{ data['Atributos']['Monto'] }}"
          {% if data['bank'] %}
            RfcEmisorCtaOrd="{{ data['Atributos']['rfc_bank'] }}"
            CtaOrdenante="{{ data['Atributos']['acc_number'] }}"
          {% endif %}>
        {% for pago in data['Pagos'] %}
            <pago10:DoctoRelacionado
                {% if pago.get('ImpSaldoInsoluto') %} ImpSaldoInsoluto="{{ pago['ImpSaldoInsoluto'] }}" {% endif %}
                {% if pago.get('ImpPagado') %} ImpPagado="{{ pago['ImpPagado'] }}" {% endif %}
                {% if pago.get('ImpSaldoAnt') %} ImpSaldoAnt="{{ pago['ImpSaldoAnt'] }}" {% endif %}
                {% if pago.get('NumParcialidad') %} NumParcialidad="{{ pago['NumParcialidad'] }}" {% endif %}
                IdDocumento="{{ pago.get('IdDocumento') }}"
                MonedaDR="{{ pago.get('MonedaDR') or 'MXN' }}"
                MetodoDePagoDR="{{ pago.get('MetodoDePagoDR') }}"
                {% if pago.get('TipoCambioDR') %} TipoCambioDR="{{ "%.6f" % pago.get('TipoCambioDR') }}" {% endif %}/>
        {% endfor %}
      </pago10:Pago>
    </pago10:Pagos>
  </cfdi:Complemento>
</cfdi:Comprobante>
