<?xml version="1.0" encoding="UTF-8"?>
<BCE:Balanza xsi:schemaLocation="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/BalanzaComprobacion http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/BalanzaComprobacion/BalanzaComprobacion_1_3.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:BCE="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/BalanzaComprobacion" Version="1.3" RFC="{{ rfc }}" Mes="{{ date_p.strftime('%m') }}" Anio="{{ date_p.strftime('%Y') }}" TipoEnvio="{{ st_base_wz.type_balance }}">{% for data in data_accounts %}
    <BCE:Ctas NumCta="{{ data.get('code') }}" SaldoIni="{{ float(data.get('SalIni', 0.0)) }}" Debe="{{ float(data.get('debit', 0.0)) }}" Haber="{{ float(data.get('credit', 0.0)) }}" SaldoFin="{{ float(data.get('SalFin', 0.0)) }}" />{% endfor %}
</BCE:Balanza>
