<?xml version="1.0" encoding="UTF-8"?>
<PLZ:Polizas xsi:schemaLocation="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/CatalogosParaEsqContE/CatalogosParaEsqContE.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Anio="{{ date_p.strftime('%Y') }}" Mes="{{ date_p.strftime('%m') }}" RFC="{{ rfc }}" Version="1.3" xmlns:PLZ="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/PolizasPeriodo" TipoSolicitud="{{ st_base_wz.type_journal_entry }}">{% for entrie in entries %}
    <PLZ:Poliza Concepto="{{ st_base_wz.string_to_xml_format(_('Journal Entrie') +' '+str(l10n_mx_type.get(entrie.journal_id.l10n_mx_type, '')) +' '+ _('Number') +' '+ entrie.name) }}" Fecha="{{ entrie.date }}" NumUnIdenPol="{{ st_base_wz.string_to_xml_format(entrie.name[:50]) }}" >{% if entrie.line_ids %}{% for line in entrie.line_ids %}{% set rate = st_base_wz.get_rate(entrie.company_id and entrie.company_id.currency_id and entrie.company_id.currency_id.id, line.currency_id and line.currency_id.id or entrie.company_id and entrie.company_id.currency_id and entrie.company_id.currency_id.id, 1) %}{% set currency = line.currency_id.name or entrie.company_id and entrie.company_id.currency_id and entrie.company_id.currency_id.name %}
        <PLZ:Transaccion Concepto="{{ st_base_wz.string_to_xml_format(line.name) }}" Haber="{{ float(line.credit) }}" Debe="{{ float(line.debit) }}" NumCta="{{ line.account_id.code }}" DesCta="{{ st_base_wz.string_to_xml_format(line.account_id.name) or '' }}">{% if line %}{% set res_receipt = st_base_wz.get_receipt(entrie.id) %}{% endif %}{% if res_receipt['uuid'] and line.account_id.internal_type in ['payable', 'receivable']%}
            <PLZ:CompNal UUID_CFDI="{{ res_receipt.get('uuid', '')}}" MontoTotal="{{ float(entrie.amount) }}" RFC="{{ line.partner_id.vat and line.partner_id.vat[2:].upper() or '' }}"/>{% endif %}
        </PLZ:Transaccion>{% endfor %}{% endif %}
    </PLZ:Poliza>{% endfor %}
</PLZ:Polizas>
