<?xml version="1.0" encoding="UTF-8"?>
<catalogocuentas:Catalogo xsi:schemaLocation="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/CatalogoCuentas http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/CatalogoCuentas/CatalogoCuentas_1_3.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:catalogocuentas="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/CatalogoCuentas" Version="1.3" RFC="{{ rfc }}" Mes="{{ date_p.strftime('%m') }}" Anio="{{ date_p.strftime('%Y') }}">{% for acc in accounts %}
    <catalogocuentas:Ctas CodAgrup="{{acc.code}}" NumCta="{{ acc.code_cta }}" Desc="{{ acc.name }}" Nivel="{{ acc.level }}" Natur="{{ acc.accounting_nature }}" />{% endfor %}
</catalogocuentas:Catalogo>
