<head>
  <style>
      .backgrounds{background-color:#fff;color:#a41d35}
  </style>
</head>
<section class="oe_container">
 <div class="oe_row oe_spaced">
  <h2 class="oe_slogan">
   IFRS
  </h2>
  <p class="oe_mt32">
   IFRS
  </p>
  <p>
This module extends Odoo reporting to accomplish IFRS. This module adds most used IFRS reports

    For more information you can click o next links:<br/>
<table style="border:0;" width=100%>
    <tr valign="middle" align="center">
        <td >
            <a href="http://www.ifrs.org" Target="_blank">
                <img src="http://www.ifrs.org/Style%20Library/ifrs/images/logo.png" width="auto" height="auto">
            </a>
        </td>
        <td>
            <a href="https://en.wikipedia.org/wiki/International_Financial_Reporting_Standards">
                  <img src="https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png" width="auto" height="auto"/><br/>Wikipedia IFRS English
            </a>
        </td>
        <td>
            <a href="https://es.wikipedia.org/wiki/Normas_Internacionales_de_Información_Financiera">
                  <img src="https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png" width="auto" height="auto"/><br/>NIIF Espa&ntilde;ol (IFRS) en Wikipedia
            </a>
        </td>
     </tr>
</table>
<br />
<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;" />
  </p>
 </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_slogan">PonceSoft</h2>
            <h3 class="oe_slogan">Soluciones Simples.</h3>
            <p class="oe_mt32 text-center">Contact us via our channels</p>
            <div class="oe_spaced">
                <ul class="text-center list-inline">
                    <li>
                        <a href="https://facebook.com/" Target="_blank"><i class="fa fa-facebook-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" Target="_blank" ><i class="fa fa-twitter-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a title="Contact us" data-toggle="tooltip" data-placement="left" Target="_blank" href="http://poncesoft.blogspot.com"><i class="fa fa-envelope-square fa-xs backgrounds"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://poncesoft.blogspot.com"  target="_blank"r>

                </a>
            </div>
        </div>
    </div>
</section>
