<?xml version="1.0" encoding="UTF-8"?>
<cfdi:Comprobante
    xmlns:cfdi="http://www.sat.gob.mx/cfd/3"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.sat.gob.mx/cfd/3 http://www.sat.gob.mx/sitio_internet/cfd/3/cfdv33.xsd"
    {% if data['Atributos']['serie'] %} Serie="{{ data['Atributos']['serie'] }}"{% endif %}
    {% if data['Atributos']['folio'] %} Folio="{{ data['Atributos']['folio'] }}"{% endif %}
    Fecha="{{ data['Atributos']['fecha'] }}"
    Sello=""
    FormaPago="{{ data['Atributos']['formaDePago'] }}"
    NoCertificado="{{ data['Atributos']['noCertificado'] }}"
    Certificado="{{ data['Atributos']['certificado'] }}"
    {% if data['Atributos']['condicionesDePago'] %} CondicionesDePago="{{ data['Atributos']['condicionesDePago'] }}" {% endif %}
    SubTotal="{{ data['Atributos']['subTotal'] }}"
    {% if data['Atributos']['descuento'] %} Descuento="{{ data['Atributos']['descuento'] }}" {% endif %}
    {% if data['Atributos']['motivoDescuento'] %} MotivoDescuento="{{ data['Atributos']['motivoDescuento'] }}" {% endif %}
    {% if data['Atributos']['TipoCambio'] %} TipoCambio="{{ data['Atributos']['TipoCambio'] }}" {% endif %}
    {% if data['Atributos']['Moneda'] %} Moneda="{{ data['Atributos']['Moneda'] }}"{% endif %}
    Total="{{ data['Atributos']['total'] }}"
    TipoDeComprobante="{{ data['Atributos']['tipoDeComprobante'] }}"
    MetodoPago="{{ data['Atributos']['metodoDePago'] }}"
    LugarExpedicion="{{ data['Atributos']['LugarExpedicion'] }}"
    {% if data['Atributos'].get('FolioFiscalOrig') %} FolioFiscalOrig="{{ data['Atributos']['FolioFiscalOrig'] }}" {% endif %}
    {% if data['Atributos'].get('SerieFolioFiscalOrig') %} SerieFolioFiscalOrig="{{ data['Atributos']['SerieFolioFiscalOrig'] }}"{% endif %}
    {% if data['Atributos'].get('FechaFolioFiscalOrig') %} FechaFolioFiscalOrig="{{ data['Atributos']['FechaFolioFiscalOrig'] }}"{% endif %}
    {% if data['Atributos'].get('MontoFolioFiscalOrig') %} MontoFolioFiscalOrig="{{ data['Atributos']['MontoFolioFiscalOrig'] }}"{% endif %}
    Version="3.3">
    {% if data.get('CfdiRelacionados') %}
        <cfdi:CfdiRelacionados
            TipoRelacion="{{ data['CfdiRelacionados']['tiporelacion'] }}" >
            <cfdi:CfdiRelacionado
                UUID="{{ data['CfdiRelacionados']['CfdiRelacionado']['uuid'] }}">
            </cfdi:CfdiRelacionado>
        </cfdi:CfdiRelacionados>
    {% endif %}
    <cfdi:Emisor
        Rfc="{{ data['Emisor'].get('rfc', '').replace('&','&amp;') }}"
        {% if data['Emisor']['nombre'] %} Nombre="{{ data['Emisor']['nombre'].replace('&','&amp;') }}" {% endif %}
        {% if data['Emisor']['regimenFiscal'] %} RegimenFiscal="{{ data['Emisor']['regimenFiscal'] }}" {% endif %}/>
    <cfdi:Receptor
        Rfc="{{ data['Receptor'].get('rfc', '').replace('&','&amp;') }}"
        {% if data['Receptor']['nombre'] %} Nombre="{{ data['Receptor']['nombre'].replace('&','&amp;') }}"{% endif %}
        UsoCFDI="{{ data['Receptor']['UsoCFDI'] }}"
        {% if data['Receptor'].get('NumRegIdTrib') %} NumRegIdTrib="{{ data['Receptor']['NumRegIdTrib'] }}"{% endif %}
        {% if data['Receptor'].get('ResidenciaFiscal') %} ResidenciaFiscal="{{ data['Receptor']['ResidenciaFiscal'] }}"{% endif %}/>
    <cfdi:Conceptos>
        {% for concepto in data['Conceptos'] %}
            <cfdi:Concepto
                Cantidad="{{ concepto['cantidad'] }}"
                Unidad="{{ concepto['unidad'] }}"
                {% if concepto['noIdentificacion'] %} NoIdentificacion="{{ concepto['noIdentificacion'] }}" {% endif %}
                {% if concepto['descripcion'] %} Descripcion="{{ concepto['descripcion'] }}" {% endif %}
                {% if concepto['descuento'] %} Descuento="{{ concepto['descuento'] }}"{% endif %}
                ValorUnitario="{{ concepto['valorUnitario'] }}"
                Importe="{{ concepto['importe'] }}"
                ClaveProdServ="{{ concepto['ClaveProdServ'] }}"
                ClaveUnidad="{{ concepto['ClaveUnidad'] }}">
                {%if concepto.get('Impuestos') %}
                <cfdi:Impuestos
                    {%if concepto['Impuestos']['Traslados'] %}>
                        <cfdi:Traslados>
                            {%for traslado in concepto['Impuestos']['Traslados'] %}
                                <cfdi:Traslado
                                    Impuesto="{{ traslado['impuesto'] }}"
                                    TipoFactor="{{ traslado['tipofactor'] }}"
                                    TasaOCuota="{{ traslado['tasaocuota'] }}"
                                    Importe="{{ traslado['importe'] }}"
                                    Base="{{ traslado['base'] }}"/>
                            {% endfor %}
                        </cfdi:Traslados>
                    {% endif %}
                    {%if concepto.get('Impuestos', {}).get('Retenciones') %}
                        <cfdi:Retenciones>
                            {%for retencion in concepto.get('Impuestos', {}).get('Retenciones') %}
                                <cfdi:Retencion
                                    Impuesto="{{ retencion['impuesto'] }}"
                                    Importe="{{ retencion['importe'] }}"
                                    TasaOCuota="{{ retencion['tasaocuota'] }}"
                                    TipoFactor="{{ retencion['tipofactor'] }}"
                                    Base="{{ retencion['base'] }}"/>
                            {% endfor %}
                        </cfdi:Retenciones>
                    {% endif %}
                </cfdi:Impuestos>
                {% endif %}
                {% if concepto.get('InformacionAduanera') %}
                    <cfdi:InformacionAduanera
                        NumeroPedimento="{{ concepto['InformacionAduanera']['numero'] }}" >
                    </cfdi:InformacionAduanera>
                {% endif %}
                {% if concepto.get('Parte') %}
                    {%for P in concepto['Parte'] %}
                        <cfdi:Parte
                            Importe="{{ P['importe'] }}"
                            ValorUnitario="{{ P['valorUnitario'] }}"
                            Descripcion="{{ P['descripcion'] }}"
                            Unidad="{{ P['unidad'] }}"
                            Cantidad="{{ P['cantidad'] }}"
                            NoIdentificacion="{{ P['noIdentificacion'] }}"
                            ClaveProdServ="{{ P['claveprodserv'] }}">
                        </cfdi:Parte>
                    {% endfor %}
                {% endif %}
            </cfdi:Concepto>
        {% endfor %}
    </cfdi:Conceptos>
    {% if data.get('Impuestos') %}
        <cfdi:Impuestos
            {% if data.get('Impuestos',{}).get('totalImpuestosTrasladados') %}
                TotalImpuestosTrasladados="{{ data['Impuestos']['totalImpuestosTrasladados'] }}"
            {% endif %}
            {% if data.get('Impuestos',{}).get('totalImpuestosRetenidos') %}
                TotalImpuestosRetenidos="{{ data['Impuestos']['totalImpuestosRetenidos'] }}"
            {% endif %}>
            {%if data.get('Impuestos',{}).get('Retenciones') %}
                <cfdi:Retenciones>
                    {%for retencion in data['Impuestos']['Retenciones'] %}
                        <cfdi:Retencion
                            Impuesto="{{ retencion['impuesto'] }}"
                            Importe="{{ retencion['importe'] }}"/>
                    {% endfor %}
                </cfdi:Retenciones>
            {% endif %}
            {%if data.get('Impuestos',{}).get('Traslados') %}
                <cfdi:Traslados>
                    {%for traslado in data['Impuestos']['Traslados'] %}
                        <cfdi:Traslado
                            Impuesto="{{ traslado['impuesto'] }}"
                            TipoFactor="{{ traslado['tipofactor'] }}"
                            TasaOCuota="{{ traslado['tasaocuota'] }}"
                            Importe="{{ traslado['importe'] }}"/>
                    {% endfor %}
                </cfdi:Traslados>
            {% endif %}
        </cfdi:Impuestos>
    {% endif %}
</cfdi:Comprobante>
